<audio
       id="song"
       preload="auto"
       src=""
       type="audio/mpeg" ></audio>

<div id="song-name"></div>
<div id="song-title"></div>
<img src="" id="song-image" alt="">
<button id="previous-song">Previous</button>
<button id="play-pause" onclick="playPause()">Play</button>
<button id="next-song">Next</button>
<br>
<p>Volume</p>
<input type="range" id="volume" min="0" max="1" value="0.5" step="0.01" onclick="changeVolume()">
<br>
<p>Process</p>
<input type="range" id="progress" min="0" max="100" value="0" onclick="changeProgress()">
<br>

<button type="button" id="button">Request data</button>
<button type="button" id="postButton">Send data</button>

<script type="application/javascript">

    const musicJson = {
        "song_src": "audio_test.mp3",
        "song_name": "Audio Test File",
        "song_title": "title-song-and-stuff",
        "progress": "00:15"
    }

    var playing = true

    document.querySelector('#song').src = musicJson.song_src

    /* Adds Play and Pause button */
    function playPause() {
        const   pp = document.querySelector('#play-pause'),
                song = document.querySelector('#song')
        if (playing) {
            pp.textContent = "Pause"
            song.play()
            playing = false
        } else {
            pp.innerHTML = "Play"
            song.pause()
            playing = true
        }
    }

    /* Update and Change audio progress. Adds audio progress controls */
    function updateProgress() {
        const progress = document.querySelector('#progress')
        progress.max = document.querySelector('#song').duration
        progress.value = document.querySelector('#song').currentTime
    }

    setInterval(updateProgress, 500)

    function changeProgress() {
        const progress = document.querySelector('#progress');
        document.querySelector('#song').currentTime = progress.value;
    }

    /* Update and Change volume. Adds volume controls */
    function updateVolume() {
        const volume = document.querySelector('#volume')
        volume.value = document.querySelector('#song').volume
    }

    setInterval(updateVolume, 500)

    function changeVolume() {
        const song = document.querySelector('#song')
        song.volume = document.querySelector('#volume').value

    }

    /* Receives data from our API */
    $('#postButton').click(function () {
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() + ":" + today.getMilliseconds();
        var dateTime = date+':'+time;
        $.post("http://localhost:5000/syncU",
            {
                path: "https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3",
                time_stamp: x.currentTime
            },
            function () {
                console.log("send")
            }
        )
    })

    // ajax
    $("#button").click(function(){
        $.get("http://localhost:5000/sync", function(data, status){
            const audioPlayer = document.getElementById("audio");
            audioPlayer.src = data.path +  "#t=" + data.time_stamp
            audioPlayer.play()
        });
    });
</script>