<audio controls
       id="song"
       preload="auto"
       src=""
       type="audio/mpeg" ></audio>

<div id="song-name"></div>
<div id="song-title"></div>
<img src="" id="song-image" alt="">
<button id="previous-song">Previous</button>
<button id="play-pause" onclick="playPause()">Play</button>
<button id="next-song">Next</button>
<br>
<p>Volume</p>
<input type="range" id="volume" min="0" max="100" value="0" onclick="changeVolume()">
<br>
<p>Process</p>
<input type="range" id="progress" min="0" max="100" value="0" onclick="changeProgress()">
<br>

<button type="button" id="button">Request data</button>
<button type="button" id="postButton">Send data</button>

<script type="application/javascript">

    const musicJson = {
        "song_src": "audio_test.mp3",
        "song_name": "Audio Test File",
        "song_title": "title-song-and-stuff",
        "progress": "00:15"
    }

    const   song_title = document.querySelector('#song-title'),
            song_name = document.querySelector('#song-name'),
            progress = document.querySelector('#progress'),
            pp = document.querySelector('#play-pause'),
            volume = document.querySelector('#volume'),
            nextSong = document.querySelector('#next-song'),
            previousSong = document.querySelector('#previous-song'),
            song = document.querySelector('#song')

    var playing = true

    song.src = musicJson.song_src

    function playPause() {
        const   pp = document.querySelector('#play-pause'),
                song = document.querySelector('#song')
        if (playing) {
            pp.textContent = "Pause"
            song.play()
            playing = false
        } else {
            pp.innerHTML = "Play"
            song.pause()
            playing = true
        }
    }

    function updateProgress() {
        const progress = document.querySelector('#progress')
        progress.max = document.querySelector('#song').duration
        progress.value = document.querySelector('#song').currentTime
    }

    setInterval(updateProgress, 500)

    function changeProgress() {
        const progress = document.querySelector('#progress');
        document.querySelector('#song').currentTime = progress.value;
    }

    function updateVolume() {
        const volume = document.querySelector('#volume')
        volume.value = document.querySelector('#song').volume
    }

    setInterval(updateVolume, 500)

    function changeVolume() {
        const volume = document.querySelector('#volume')
        document.querySelector('#song').volume = volume.value
    }

    $('#postButton').click(function () {
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() + ":" + today.getMilliseconds();
        var dateTime = date+':'+time;
        $.post("http://localhost:5000/syncU",
            {
                path: "https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3",
                time_stamp: x.currentTime
            },
            function () {
                console.log("send")
            }
        )
    })

    // ajax
    $("#button").click(function(){
        $.get("http://localhost:5000/sync", function(data, status){
            const audioPlayer = document.getElementById("audio");
            audioPlayer.src = data.path +  "#t=" + data.time_stamp
            audioPlayer.play()
        });
    });
</script>